:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --header-background-rgb: 218, 235, 227
}

@media (prefers-contrast: less) or (prefers-contrast: more) {
    :root {
      --foreground-rgb: 255, 255, 0;
      --background-rgb: 0, 0, 0;
      --header-background-rgb: 0, 0, 0;
      /* --map-tiles-filter: invert(1) contrast(1.5) saturate(1.5) brightness(8); */

  }
  /* .map-tiles {
    filter:var(--map-tiles-filter, none);
  } */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --header-background-rgb: 0, 0, 0;
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  }
  .map-tiles {
    filter:var(--map-tiles-filter, none);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  line-height: 1.5em; /*max 1.5*/
  letter-spacing: 0.01em; /*max 0.12*/
  word-spacing: 0.01em; /*max 0.16*/
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.33em;
}
h2 {
  font-size: 1.25em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  min-height: 100vh;
  gap: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  a {
    margin: 1rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(var(--header-background-rgb));

  p {
    cursor: pointer;
  }
}